$bg-color-header: #16151E;
$bg-color-input: #24243D;
$bg-color-main2: #1A1924;
$bg-color-name1: #633BBC;
$bg-color-name2: #07847E;
$bg-color-name3: #9A00B3;
$bg-color-name4: #0088B3;
$bg-color-scrollbar: #282843;
$color-text-white: #E1E1E6;
$color-text-number: #8C8CBA;